.section{
    width: 90%;
    margin: 0 auto;
}

#showFood{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1%;
    cursor: pointer;
  
}
#image{
    display: none;
}
#p{
    display: none;
}